h1 {
  font-family: Verdana;
}

p {
  font-family: Verdana;
}

.content {
  border: 20px solid white;
  width: 70%;
  height: 70%;
  padding: 1%;
  margin: auto;
  border-radius: 3rem;
  background: rgba(255, 255, 255, 0);
}

input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  color: white;
  padding: 0.25em 0.5em;
  background-color: rgba(255, 255, 255, 0);
  border: 5px solid white;
  border-radius: 4px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: White;
  opacity: 1; /* Firefox */
}

.background--custom {
  background: linear-gradient(90deg, #6470f5, #693295, #b1c4f4);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.flex-center {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
